<footer class="container-fluid bg-light">
  <div class="container py-3">
    <div class="row">
      <div class="col-md-4 mb-3 text-muted">&copy; 2023 DELIVER/YOU, Inc</div>
      <div class="col-md-4 mb-3 d-flex justify-content-center">
        <a href="/home" class="link-body-emphasis text-decoration-none">
          <img src="/assets/LOGO1-fotor-bg-remover-20230317191421.svg" alt="Deliver/You Logo" class="logo" width="150px">
        </a>
      </div>
      <div class="col-md-4 mb-3 d-flex justify-content-end">
        <ul class="nav">
          <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a routerLink="/faqs" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a routerLink="/about" class="nav-link px-2 text-muted">Dicono di noi</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

