<nav>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="/assets/LOGO1-fotor-bg-remover-20230317191421.svg" alt="My Logo" class="logo">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a href="/home" class="nav-link text-white fw-bolder pe-2 " routerLink="home">HOME</a>
          <a class="nav-link text-white fw-bolder pe-2" routerLink="/ristoranti">RISTORANTI</a>
          <a  class="nav-link text-white fw-bolder"
            routerLink="/ristoratore-board">GESTISCI</a>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-white" placeholder="Search..."
            aria-label="Search">
        </form>

        <div class="text-end">
          <div *ngIf="!isLoggedIn">
            <button type="button" class="btn btn-tertiary btn-outline-light me-2" routerLink="/login">Accedi</button>
            <button type="button" class="btn btn-tertiary me-2" routerLink="/register">Registrati</button>
            <button class="btn btn-tertiary me-2 text-dark" routerLink="/registerRestaurateur">Collaboratori</button>
          </div>
          <div *ngIf="isLoggedIn">
            <button class="btn btn-outline-light me-2 btn-tertiary rounded-pill px-4 text-uppercase" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </header>
</nav>
