<div class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let restaurateur of restaurateurs">
    <h2 class="accordion-header">
      <div class="row">
        <div class="col-3">
          <h2>{{ restaurateur.username }}</h2>
        </div>
        <div class="col-3">
          <h2>Email: <a href = "mailto: {{ restaurateur.email }}">{{ restaurateur.email }}</a></h2>
        </div>
        <div class="col-3">
          <h2>Numero di cellulare:<a href="tel:{{ restaurateur.phoneNumber }}">{{ restaurateur.phoneNumber }}</a></h2>
        </div>
        <div class="col-3 d-flex justify-content-end">
          <button class="btn collapsed" type="button" data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapse-' + restaurateur.id"
            [attr.aria-controls]="'collapse-' + restaurateur.id">APRI</button>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h2>{{ restaurateur.id }}</h2>
        </div>
        <div class="col-4">
          <h2>Sede locale:{{ restaurateur.address }}</h2>
        </div>
        <div class="col-4">
          <h2>N° P:IVA:{{ restaurateur.numeroPartitaIva }}</h2>
        </div>
      </div>
    </h2>
    <div [id]="'collapse-' + restaurateur.id" class="accordion-collapse collapse"
      [attr.data-bs-parent]="'#accordionExample'">
      <div class="accordion-body">
        <ul>
          <li *ngFor="let menu of restaurateur.menus">
            <div>
              <h3>Menu: {{ menu.name }}</h3>
              <button *ngIf="menu" class="btn btn-success" (click)="loadMenuItems(menu)">Apri menu</button>
              <div class="card col- col-sm-6 col-md-12" *ngFor="let item of menuItems">
                <div class="card-body">
                  <h5 class="card-title">{{ item.name }}</h5>
                  <ul>Ingredienti:
                    <li *ngFor="let ingredient of item.ingredients">{{ ingredient }}</li>
                  </ul>
                  Prezzo: {{ item.price }}€
                  <input type="number" [(ngModel)]="item.quantity" min="1" max="10">
                  <button (click)="addToCart(item, item.quantity, restaurateur.id)">Add to Cart</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
